
{% extends 'base.html.twig' %}

{% block title %}
    Index Students
{% endblock %}

{% block body %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Taille</th>
                <th>Genre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.lastName }}</td>
                    <td>{{ student.firstName }}</td>
                    <td>{{ student.heightMeter }}</td>
                    <td>{{ student.gender }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('show_students', {'idStudent': student.id}) }}">
                            Récap
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}