
{% extends 'base.html.twig' %}

{% block title %}
    Index Students
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                {# On utilise les clés de traduction #}
                <th>{{ 'students.index.name'|trans }}</th>
                <th>{{ 'students.index.first_name'|trans }}</th>
                <th>{{ 'students.index.height'|trans }}</th>
                <th>{{ 'students.index.gender'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.lastName }}</td>
                    <td>{{ student.firstName }}</td>
                    {# On utilise des méthodes personnalisées de notre objet Student #}
                    <td>{{ student.heightMeter }}</td>
                    <td>{{ student.genderLabel }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('show_students', {'idStudent': student.id}) }}">
                            {{ 'students.index.detailed'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}