
{% extends 'base.html.twig' %}

{% block title %}
    Index Students
{% endblock %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                {# On utilise les clés de traduction #}
                <th>{{ 'students.index.name'|trans }}</th>
                <th>{{ 'students.index.first_name'|trans }}</th>
                <th>{{ 'students.index.height'|trans }}</th>
                <th>{{ 'students.index.gender'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for studentLoop in students %}
                <tr>
                    <td>{{ studentLoop.lastName }}</td>
                    <td>{{ studentLoop.firstName }}</td>
                    {# On utilise des méthodes personnalisées de notre objet Student #}
                    <td class="{{ studentLoop.cssRangeHeight }}">
                        {{ studentLoop.heightMeter|trans }}
                    </td>
                    <td class="student-gender-{{ studentLoop.gender }}">
                        {{ studentLoop.genderLabel|trans }}
                    </td>

{#                    {% include 'students/_partial_gender.html.twig' with {'student': studentLoop} %}#}

                    <td>
                        <a class="btn btn-info" href="{{ path('show_students', {'idStudent': studentLoop.id}) }}">
                            {{ 'students.index.detailed'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}