
{% extends 'base.html.twig' %}

{# Fonctionne comme un include et un extends en même temps #}
{#{% embed 'base.html.twig' %}#}
{#    {% block title %}#}
{#        {{ parent() }} -  BOISSONS#}
{#    {% endblock %}#}
{#{% endembed %}#}

{% block title %}
    {{ parent() }} - boissons
{% endblock %}

{% block body %}

    {% if date is defined %}
        <p>Date du jour : {{ date|date('d/m/Y') }}</p>
    {% endif %}

    {# Compte de 0 à 10 et affiche le contenu séparé par un tiret #}
    {% for i in 0..10 %}
        {# si la boucle est sur le premier élément #}
        {{ loop.first }}
        {# si la boucle est sur le dernier élément #}
        {{ loop.last }}
        {% if loop.index != 1 %}
            -
        {% endif %}
        {{ i }}
    {% endfor %}

    {# Si la variable boissons existe alors on peut afficher son contenu #}
{#    <p>{{ boissons|default('Le bar est vide, on est fermé') }}</p>#}

    {% macro input(name, value, type = "text", size = 20) %}
        <input type="{{ type }}" name="{{ name }}" value="{{ value }}" size="{{ size }}"/>
    {% endmacro %}

    <div>
        <p>
            {# Permet d'interprêter l'html contenu dans la variable #}
            {{ htmlContent|raw }}
        </p>

        <h3>Création d'input via macro</h3>
        <div>
            {% from 'boissons.html.twig' import input, addMoreMacros %}
            {{ input('macro de test')}}
        </div>
    </div>

    {% if boissons is defined %}
        {# On vérifit si la taille de nos boissons est supérieure à 0 afin d'afficher le nombre de produits du bar #}
        {% if boissons|length > 0 %}
            <p>Nombre de boissons disponibles : {{ boissons|length }}</p>
        {% endif %}
        <ul>
            {# Récupère le 1er et le dernier élément d'un tableau #}
            <p>Première boisson : {{ boissons|first }}</p>
            <p>Dernière boisson : {{ boissons|last }}</p>
            {% for boisson in boissons %}
                {% if loop.index != 1 %}
                    <br>
                {% endif %}
                <a class="btn btn-info" href="{{ path('boisson_show', {'boisson': boisson}) }}">
                    {# le filtre lower permet d'afficher la chaine en minuscule #}
                    {{ boisson|lower }} -
                    {# le filtre lower permet d'afficher la chaine en majuscule #}
                    {{ boisson|upper }} -
                    {# le filtre capitalize permet d'afficher la première lettre en majuscule #}
                    {{ boisson|capitalize }}
                </a>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}