{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ boisson }}
{% endblock %}

{% block body %}

    <div>
        <p>Je suis sur la page perso de la boisson {{ boisson }}</p>
    </div>

    <a href="{{ path('home_page') }}">
        Retour au bar
    </a>

    <div>
        {% set urlImage = 'images/meme.jpg' %}
        <img src="{{ asset(urlImage)|imagine_filter('rotate270') }}">
    </div>

{% endblock %}

